<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  <!-- Navbar -->
  <navbar id="navbar">
    <div class="navbar-container">
        <img src="../assets/images/saude.png" alt="logo For the Night" class="logo">
        <ul class="navbar-items">
            <li class="navbar-item"><a href="../views/inicio.html">Início</a></li>
            <li class="navbar-item"><a href="../views/eventos.html">Eventos</a></li>
            <li class="navbar-item"><a href="../views/contato.html">Contato</a></li>
            <li class="navbar-item"><a href="../views/cadastro.html">Cadastre-se</a></li>
            <li class="navbar-item"><a href="../views/login.html">Entrar</a></li>
        </ul>
    </div>
</navbar>
    <script src="js/scripthome.js"></script>
</body>
</html>