<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingressos</title>
    <link rel="stylesheet" href="../public/css/styleing.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
     <!-- Navbar -->
     <navbar id="navbar">
        <div class="navbar-container">
            <img src="../assets/images/saude.png" alt="logo For the Night" class="logo">
            <ul class="navbar-items">
                <li class="navbar-item"><a href="../views/inicio.html">Início</a></li>
                <li class="navbar-item"><a href="../views/eventos.html">Eventos</a></li>
                <li class="navbar-item"><a href="../views/contato.html">Contato</a></li>
                <li class="navbar-item"><a href="../views/cadastro.html">Cadastre-se</a></li>
                <li class="navbar-item"><a href="../views/login.html">Entrar</a></li>
            </ul>
        </div>
    </navbar>
    <!-- card -->
    <div class="card one">
        <div class="img-card">
            <img src="../assets/images/ticket.png" alt="Ticket">
        </div>
        <div class="card-content">
            <h3>Ingresso</h3>
            <h1>Individual</h1>
            <h2 class="price"><small>R$</small><big>69,</big><small>99</small></h2>
            <a id="btn_comprar" class="buy" style="cursor: pointer;">Compre Agora</a>
        </div>
    </div>

    <div class="card two">
        <div class="img-card">
            <img src="../assets/images/ticket.png" alt="Ticket">
        </div>
        <div class="card-content">
            <h3>Ingresso</h3>
            <h1>Individual</h1>
            <h2 class="price"><small>R$</small><big>99,</big><small>99</small></h2>
            <a class="buy" style="cursor: not-allowed;">Compre Agora</a>
            <h6>Indisponível *</h6>
        </div>
    </div>

    <div class="card three">
        <div class="img-card">
            <img src="../assets/images/ticket.png" alt="Ticket">
        </div>
        <div class="card-content">
            <h3>Ingresso</h3>
            <h1>Individual</h1>
            <h2 class="price"><small>R$</small><big>119,</big><small>99</small></h2>
            <a class="buy" style="cursor: not-allowed;">Compre Agora</a>
            <h6>Indisponível *</h6>
        </div>
    </div>
    <script src="../js/scripting.js" defer></script>
</body>
</html>