<!DOCTYPE html>

<html lang="pt-BR" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link rel="stylesheet" href="styleEstacionamento.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/icon.png">
</head>


<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bxl-redux' undefined></i>
            <span class="logo_name">Fest-S</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="http://localhost:3000/admin">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Início</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="http://localhost:3000/admin">Início</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Cadastro</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Cadastro</a></li>
                    <li><a href="http://localhost:3000/fornecedores">Fornecedores</a></li>
                    <li><a href="http://localhost:3000/estoque">Produtos</a></li>
                    <li><a href="http://localhost:3000/evento">Eventos</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-dollar-circle'></i>
                    <span class="link_name">Vendas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Venda - Ingressos</a></li>
                    <li><a href="http://localhost:3000/bilheteria">Bilheteria</a></li>
                    <li><a class="link_name" href="#">Venda - Estoque</a></li>
                    <li><a href="http://localhost:3000/produtos">Produtos</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="link_name">Movimentação</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Movimentação</a></li>
                    <li><a href="http://localhost:3000/estacionamento">Estacionamento</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="images/user-solid-48.png" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">usuário</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>


    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Menu</span>
        </div>
    </section>
    <div class="form-container">
        <div class="form-content">
            <form method="POST" action="?_method=PUT">
                <div class="form-header">
                    <h1>Atualizar Vagas</h1>
                </div>
                <div class="input-group">

                    <div class="input-box">
                        <label for="vaga">Vaga</label>
                        <input type="number" name="vaga" id="vaga" required>
                    </div>

                    <div class="input-box">
                        <label for="vaga_disponivel">Disponibilidade</label>
                        <select name="vaga_disponivel" id="vaga_disponivel">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                        </select>
                    </div>

                    <div class="input-box">
                        <label for="placa_veiculo">Placa do veículo</label>
                        <input type="text" name="placa_veiculo" id="placa_veiculo">
                    </div>
                </div>

                <div class="buttons">
                    <div class="cancelar-button">
                        <button type="reset">Limpar</button>
                    </div>

                    <div class="submit-button">
                        <input type="hidden" name="_method" value="PUT">
                        <button type="submit">Atualizar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="tabela">
        <div class="tabela-header">
            <h1>Vagas</h1>
        </div>
        <table class="">
            <thead>
                <tr>
                    <th>Vaga</th>
                    <th>Disponibilidade</th>
                    <th>Placa do veículo</th>
                </tr>
            </thead>
            <tbody>

                <% data.forEach(entry=> { %>
                    <tr>
                        <td>
                            <%= entry.id_vaga %>
                        </td>
                        <td>
                            <%= entry.vaga_disponivel %>
                        </td>
                        <td>
                            <%= entry.placa_veiculo %>
                        </td>
                    </tr>
                    <% }) %>

            </tbody>
        </table>
    </div>
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
</body>

</html>