<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link rel="stylesheet" href="../public/css/styleeventos.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <!-- Navbar -->
    <navbar id="navbar">
        <div class="navbar-container">
            <img src="/" alt="logo For the Night" class="logo">
            <ul class="navbar-items">
                <li class="navbar-item"><a href="../views/inicio.html">Início</a></li>
                <li class="navbar-item"><a href="../views/eventos.html">Eventos</a></li>
                <li class="navbar-item"><a href="../views/contato.html">Contato</a></li>
                <li class="navbar-item"><a href="../views/cadastro.html">Cadastre-se</a></li>
                <li class="navbar-item"><a href="../views/login.html">Entrar</a></li>
            </ul>
        </div>
    </navbar>
    <div class="eventos">
        <div class="card-evento cardd1">
            <a href="./ingressos.html" class="card1">
                <img src="../assets/images/card_show1.png" alt="show" class="show1">
                <h4>São Caetano do Sul com Péricles e Gaab</h4>
                <h5 class="data1">Domingo, 21 de Agosto de 2022</h5>
                <h6><b>Espaço Liv</b></h4>
            </a> 
        </div>

        <div class="card-evento cardd2">
            <a href="./ingressos.html" class="card2">
                <img src="../assets/images/doka.jpg" alt="show" class="show2">
                <h4>Arena Sertaneja com Sidoka</h4>
                <h5 class="data2">Domingo, 11 de Setembro de 2022</h5>
                <h6><b>Arena Sertaneja</b></h4>
            </a> 
        </div>

        <div class="card-evento cardd3">
            <a href="./ingressos.html" class="card3">
                <img src="../assets/images/jgomes.jpg" alt="show" class="show3">
                <h4>Arena Sertaneja com João Gomes</h4>
                <h5 class="data3">Sábado, 17 de Setembro de 2022</h5>
                <h6><b>Arena Sertaneja</b></h4>
            </a> 
        </div>
    </div>
    <script src="../js/scripteventos.js" defer></script>
</body>
</html>