<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../public/css/styleinicio.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <!-- Navbar -->
    <navbar id="navbar">
        <div class="navbar-container">
            <img src="/" alt="logo For the Night" class="logo">
            <ul class="navbar-items">
                <li class="navbar-item"><a href="../views/inicio.html">Início</a></li>
                <li class="navbar-item"><a href="../views/eventos.html">Eventos</a></li>
                <li class="navbar-item"><a href="../views/contato.html">Contato</a></li>
                <li class="navbar-item"><a href="../views/cadastro.html">Cadastre-se</a></li>
                <li class="navbar-item"><a href="../views/login.html">Entrar</a></li>
            </ul>
        </div>
    </navbar>
    <!-- Showcase -->
    <div id="showcase">
        <div class="showcase-container">
            <h2>Diversão para todos.</h2>
            <p>Diversos shows toda semana.</p>
            <button class="btn-primary">Saiba mais</button>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="footer-content">
            <img src="" alt="logo casa noturna">
            <ul class="footer-menu">
                <p>Empresa</p>
                <li class="footer-menu-item">
                    Sobre
                </li>
            </ul>

            <ul class="footer-menu">
                <p>Comunidades</p>
                <li class="footer-menu-item">
                    Desenvolvedores
                </li>
                <li class="footer-menu-item">
                    Fornecedores
                </li>
            </ul>

            <ul class="footer-menu">
                <p>Links úteis</p>
                <li class="footer-menu-item">
                    Ajuda
                </li>
                <li class="footer-menu-item">
                    Contato
                </li>
            </ul>

            <div class="socials">
                <a href="https://www.instagram.com/eikfps/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
        </div>
        <div class="footer-info">
            <ul class="footer-info-items">
                <li class="footer-info-item">Legal</li>
                <li class="footer-info-item">Centro de Privacidade</li>
                <li class="footer-info-item">Política de Privacidade</li>
                <li class="footer-info-item">Cookies</li>
                <li class="footer-info-item">Sobre anúncios</li>
            </ul>

            <div class="rights">
                <div class="country">
                    <p>Brasil</p>
                    <img src="../assets/images/brazil.png" alt="Bandeira do Brasil" class="brazil-flag">
                </div>
                <p>&copy; 2022 For The Night AB</p>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="../js/scriptinicio.js"></script>
    <script src="https://kit.fontawesome.com/f45d010c8d.js" crossorigin="anonymous"></script>
</body>
</html>