<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="../public/css/stylelogin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="../assets/images/undraw_join_re_w1lh.svg" alt="login">
        </div>
        <div class="form">
            <form method="POST">
                <div class="form-header">
                    <div class="title">
                        <h1>Entre</h1>
                    </div>
                    <div class="back-button">
                        <button type="button"><a href="../views/inicio.html">Voltar</a></button>
                    </div>
                    <div class="input-group">
                        <div class="input-box">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" id="email" placeholder="Digite seu email" required>
                        </div>

                        <div class="input-box">
                            <label for="senha">Senha</label>
                            <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                        </div>
                    </div>
                    <div class="submit-button">
                        <button type="submit">Entrar</button>
                    </div>
            </form>
            <h6 class="cadastrar">Ainda não possui uma conta? <a href="./cadastro.html">Cadastre-se</a></h6>
        </div>
    </div>
</body>
</html>